VITE_SUPABASE_URL=https://eigitopdanqgnplxocaf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpZ2l0b3BkYW5xZ25wbHhvY2FmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1NDE4NzAsImV4cCI6MjEwNDExNzg3MH0.fmFBkWF2N3_tq4P9Rzz-sgZRKiDSTgre-AzZkj085hc

VITE_ADMIN_ID=JJ Signature
VITE_ADMIN_PASSWORD= jj@1219
VITE_STAFF_ID=jj staff
VITE_STAFF_PASSWORD= jj@2307

VITE_WHATSAPP_NUMBER=91 6379048966
